# Blocks the standard target folder at the root
/target/

# Blocks custom target folders (like target-sbsa) at any depth
target-*/

**/*.rs.bk
*.pdb
rustc-ice-*.txt
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
